DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_DATABASE=
DATABASE_PASSWORD=
DATABASE_AUTOLOADENTITIES=1
DATABASE_SYNCHRONIZE=0

TESTING_DATABASE_PASSWORD=

NODE_ENV=

JWT_SECRET=
JWT_TOKEN_ISSUER=
JWT_TOKEN_AUDIENCE=
JWT_TTL=
JWT_REFRESH_TTL=

APP_PORT=3000

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=